@use '../../styles/variables' as *;

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap-unit;
  margin-bottom: $section-gap;
  padding: 0 $gap-unit;

  &__item {
    min-width: 0;
    min-height: 36.25rem;
  }
}

@media (max-width: $breakpoint-mobile) {
  .product-grid {
    grid-template-columns: 1fr;
    padding: 0;
    gap: $section-gap;

    &__item {
      min-height: 32rem;
    }
  }
}
